body {
  font-family: "Segoe UI", "Segoe UI Light";
  font-weight: 400;
  font-size: 16px;
}
table{
  display: none;
}
table p{
  margin: 10px 0 0 0;
}
td, th{
  border: 1px solid #ddd;
}
th{
  font-weight: 600;
}
.intro{
  color: #7f8c8d;
}
h1{
  font-weight: 300;
  color: #2c3e50;
}
a {
  color: #333;
}
a:hover{
  opacity:0.9;
  text-decoration: none;
}
.well label {
  display: block;
}
.well input {
  margin-bottom: 5px;
}
.btn {
  margin-top: 5px;
  border: outset 1px #C8C8C8;
}
.znoball{
  padding-left: 0;
}
.form-control{
  margin-top: 10px;
  padding: 0 5px;
  height: 25px;
  text-align: right;
}

.no-require-subj-info .minball, .no-require-subj-info .weight, .no-require-subj-info .inline-text{
  display: none;
}
.no-require-subj-info .minball:last-child{
  display: block;
}
.no-require-subj-info span:nth-last-child(2), .no-require-subj-info span:nth-last-child(3){
  display: inline-block;
}
.no-require-subj-info  p{
  margin:0;
}
.panel-footer {
  padding: 10px 0;
  text-align: center;
}

.minball, .weight, .inline-text{
  color: #ccc;
  font-style: italic;
  font-size: 14px;
}

.number{
  background: #EA4223;
  margin-top: 25px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-size: 24px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}